*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f0f0f0;
}

.pw-meter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 350px;
    padding: 20px;
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.2);
}

.pw-meter h2{
    margin: 10px 0px 30px;
    font-size: 20px;
    text-align: center;
    color: #111;
}

.pw-meter .form-element{
    position: relative;
}

.pw-meter label{
    display: block;
    color: #111;
    margin-bottom: 8px;
}

.pw-meter input{
    padding: 8px 30px 8px 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #bbb;
    outline: none;
    
}

.pw-meter .pw-display-toggle-btn{
    position: absolute;
    right: 10px;
    top: 35px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.pw-meter .pw-display-toggle-btn i.fa-eye-slash{
    display: none;
}

.pw-meter .pw-display-toggle-btn.active i.fa-eye-slash{
    display: block;
}

.pw-meter .pw-display-toggle-btn.active i.fa-eye{
    display: none;
}

.pw-meter .pw-strength{
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: #f2f2f2;
    display: none;
}

.pw-meter .pw-strength span:nth-child(1){
    position: relative;
    font-size: 13px;
    color: #111;
    font-weight: 600;
    z-index: 2;
}

.weak{
    background-color: red;
}
.medium{
    background-color: yellow;
}
.strong{
    background-color: #20a820;
}

.pw-meter .pw-strength span:nth-child(2){
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    z-index: 1;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    
}
